.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.blogPicture {
    width: 40%;
}

.blogText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3 {
        font-family: $bodyFont;
        font-size: 1.4rem;
        text-decoration: underline;
        margin-bottom: 0;
    }
    p {
        font-size: 1rem;
        font-family: $bodyFont;
        line-height: 30px;

    }
}

.blogButton {
    width: 50%;
    align-self: center;
    margin-top: 20px;
}

@media (max-width: 960px) {
    .blog .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .blogPicture {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .blogText h3 {
        font-size: 1rem;
    }

    .blogButton {
        width: 100%;
    }
}