
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    h3 {
        font-family: "Montserrat";
        color: #888888;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
}

//form section

.contactForm {
    width: 50%;
}

.formBody {
    display: flex;
    flex-direction: column;
    input, 
    textarea {
        border: none;
        border-bottom: 1px solid $grey; 
        padding: 10px;
        font-family: $bodyFont;
        border-radius: 0px;
        &::placeholder {
            color: $placeholder;
            font-family: $bodyFont;
            font-size: 0.7rem;
        }
    }
    button {
        width: 50%;
        margin-top: 20px;
        align-self: flex-end;
    }

}


// info section

.contactInfo {
    width: calc(50% - 30px);
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contactList {
    list-style: none;
    font-weight: 700;
    font-family: $bodyFont;
    padding: 0;
    li {
        margin-top: 10px;
    }
}

.socialMedia {
    list-style: none;
    display: flex;
    a {
        font-size: 1.5rem;
        color: black;
        margin: 10px;
    }
}


// MEDIA QUERIES

@media (max-width: 790px) {
    .contact .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contactForm {
        width: 100%;
        order: 2;
    }
    .contactInfo {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }
}

@media (max-width: 750px) {
    .contactInfo {
        text-align: left;
        margin: 0;
    }
    .contactList {
        margin: 0;
    }
    .formBody button {
        align-self: center;
    }
    .contact .wrapper h3 {
        display: none;
    }
}