header {
    height: 100vh;
    background-image: url('../../assets/background3.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: -20%;
    background-repeat: no-repeat;
}

.headerNav {
    background: white;
    .wrapper { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

// name area

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 1.9rem;
        font-family: $headerFont;
        margin: 20px 0 0 0;
    }
    h3 {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: $bodyFont;
    color: $grey;
    }
}

// navigation area

.headerNavList {
    display: flex;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: $bodyFont;
    width: 50%;
    justify-content: space-between;
}

