html {
    font-size: 20px;
}

.wrapper {
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
}


img {
    width: 100%;
}

h2 {
    font-size: 3rem;
    font-family: $headerFont;
    margin-bottom: 0;
}

.vLine {
    width: 50%;
    border-right: 1px solid $grey;
    height: 200px;
    align-self: flex-start;
    margin-bottom: 150px;
}
