.work .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.workSub {
    font-family: $bodyFont;
    color: $grey;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    
}

.workBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.workName {
    position: absolute;
}

.workPicture {
    position: relative;
}

.workName {
    font-family: $headerFont;
    font-size: 1.9rem;
    font-weight: 200;
    // border-bottom: 3px solid black;
    a {
        color: black;
        text-decoration: none;
        
    }
    h3 {
        margin: 0;
    }
}

// skills section

.workSkills {
    font-family: $bodyFont;
    text-transform: uppercase;
    color: $grey;
    font-size: 0.7rem;
    
}


// Word Scramble

.wordScramble {
    justify-content: flex-end;
    img {
        width: 654px;
        height: auto;
        border: solid $lightGrey 70px;
    }
    .workName {
        bottom: -7px;
        left: 4px;
    }
    .workSkills {
        transform: rotate(-90deg);
        position: absolute;
        bottom: 217px;
        left:-195px;

    }
}



// havoc of heroes

.havocOfHeroes {
    justify-content: flex-start;
    img {
        width: 554px;
        height: auto;
        border: solid $lightGrey 60px;
    }
    .workName {
        bottom: -17px;
        right: -26px;
    }
}

// yogi B section

.yogiB {
    justify-content: flex-end;
    img {
        width: 654px;
        height: auto;
        border: solid $lightGrey 70px;
    }
    .workName {
        bottom: -17px;
        left: 117px;
    }
    
}


// Yoga Poses

.yogaPoses {
    justify-content: flex-start;
    img {
        width: 503px;
        height: auto;
        border: solid $lightGrey 50px; 
    }
    .workName {
        bottom: -14px;
        right: 5px;
    }
    .workSkills {
        transform: rotate(90deg);
        position: absolute;
        bottom: 250px;
        right:-275px;
    }
}

// psd conversion 

.psd {
    flex-direction: column;
    align-items: flex-end;
    img {
        width: 604px;
        height: auto;
        border: solid $lightGrey 50px;
    }
    .workName {
        bottom: -14px;
        left: -24px;
    }
}

// MEDIA QUERIES

@media (max-width: 950px) {
    .workBlock img {
        width: 100%;
    }
}