@import "setup.scss";
@import "utils.scss";
@import "typography.scss";
@import "header.scss";
@import "works.scss";
@import "about.scss";
@import "blog.scss";
@import "contact.scss";
@import "footer.scss";