header {
    height: 100vh;
    background-image: url('../../assets/background3small.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.headerNav {
    background: white;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
    .wrapper { 
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}

// name area

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 1.9rem;
        font-family: $headerFont;
        margin: 20px 0 0 0;
    }
    h3 {
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 0;
        letter-spacing: 2px;
        font-weight: 600;
        font-family: $bodyFont;
        color: $grey;
    }
}

// navigation area

.headerNavList {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    padding: 0;
    a {
        display: inline-block;
        font-size: 0.8rem;
        font-family: $bodyFont;
        text-decoration: none;
        color: black;
        &:hover {
            transform: scale(1.2);
        }
    }
}

// hamburger menus

.hamburgerMenu,
.hamburgerMenu2 {
    
    display: none;
    // margin-bottom: 200px;
    position: relative;
    width: 44px;
    height: 44px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    a {
        color: black;
        @include position(absolute, 0, 0, 0, 0);
        z-index: 100;
        &:hover ~ .line {
            transform: scale(1.1);
        }
    }
}

.hamburgerMenu2 {
    // border: 1px solid black;
    position: fixed;
    // right: 20px;
    // z-index: 99;
    right: 20px;
    top: 6vw;
}

.line {
    width: 26px;
    margin-top: 4px;
    border-radius: 36px;
    height: 4px;
    background-color: black;
    transition: all 0.5s;
    
}

// makes the nav stick on the side when scrolling 

.menuDesktopScroll {
    z-index: 500;
    border-bottom: 1px solid black;
    background-color: white;
}

.hideHeaderMenu {
    transform: translateY(-170px);
}

.showNavOverlay {
    display: none;
}

.navOverlay {
    transition: all 0.5s;
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    z-index: 600;
    transform: translateX(50%);
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {
        color: white;
        font-family: $bodyFont;
        text-decoration: none;
        list-style: none;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: relative;
    }
}

.overlayList {
    text-align: right;
}

.overlayItem {
    margin-bottom: 28px;
}

.navItem {
    text-decoration: none;
    font-size: 8vw;
    display: inline-block;
    &:hover {
        transform: scale(1.1);
    }
}



// .overlayList 

// X in the nav overlay
.closeButton {
    height: 26px;
    width: 24px;
    position: absolute;
    transition: all 0.5s;
    right: 30px;
    top: 7vw;
    @include display(flex, center, center);
    flex-direction: column;
    z-index: 20;
    &:hover {
        transform: scale(1.1);
    }
}

.X {
    height: 6px;
    width: 30px;
    background-color: white;
    border-radius: 36px;
    position: fixed;
    transition: all 0.5s;
}

.X1 {
    transform: rotate(45deg);
}

.X2 {
    transform: rotate(-45deg);
}

.closeOverlay {
    @include position (absolute, 0, 0, 0, 0);
    z-index: 30;
}

// MEDIA QUERIES

// for touch devices that dont support background-attachment: fixed

@supports (-webkit-overflow-scrolling: touch) {
    header {
        background-attachment: scroll;
    }
}

// mobile portrait

@media (max-width: 750px) {
    .headerNav {
        .wrapper {
            flex-direction: row;
            justify-content: center;
            height: 100%;
        }
    }
    .logo {
        text-align: center;
        h1 {
            text-align: center;
            font-size: 8vw;
        }
        h3 {
            font-size: 3vw;
        }
    }
    .headerNavList {
        display: none;
    }

    .hamburgerMenu2 {
        display: flex;
        margin: 0;
    }

    .showNavOverlay {
        opacity: 1;
        transform: translateX(0);
    }

    .hideNavOverlay {
        display: none;

    }

    .headerNavFixed {
        display: none;
    }
}