html {
    font-size: 20px;
    scroll-behavior: smooth;
    position: relative;
}

.wrapper {
    max-width: 1500px;
    width: 70%;
    margin: 0 auto;
}


img {
    width: 100%;
}

h2 {
    font-size: 3rem;
    font-family: $headerFont;
    margin-bottom: 30px;
}

.vLine {
    width: 50%;
    border-right: 1px solid $grey;
    height: 100px;
    align-self: flex-start;
    margin-bottom: 50px;
}

button,
.blogButton,
.blogButton2,
.resumeButton {
    font-family: $bodyFont;
    font-size: 0.7rem;
    padding: 10px 30px;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    text-transform: uppercase;
    i {
        margin: 10px;
    }
    &:hover {
        background: black;
        color: white;
    }
    &:active {
        background: black;
        color: white;
    }

}

// MEDIA QUERIES 

@media (max-width: 500px) {
    .wrapper {
        width: 80%;
    }

    h2{
        font-size: 2.5rem;
    }
}