.work .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.workSub {
    font-family: $bodyFont;
    color: $grey;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    
}

.workBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    justify-content: center;
}

.workPicture {
    position: relative;
}

.workName {
    position: absolute;
    font-family: $headerFont;
    font-size: 1.9rem;
    font-weight: 200;
    a {
        display: inline-block;
        color: black;
        text-decoration: none;
        border-bottom: 2px solid black;
        &:hover {
            transform: translateY(-10px);
        }
    }
    h3 {
        margin: 0;
    }
}

// skills section

.workSkills {
    font-family: $bodyFont;
    text-transform: uppercase;
    color: $grey;
    font-size: 0.7rem;
    
    
}



// right aligned names

.jv,
.nadia,
.miriam,
.steven,
.hipJoint {
    img {
        max-width: 654px;
        height: auto;
        border: solid $lightGrey 40px;
    }
    .workName {
        bottom: -17px;
        right: 3px;
    }
    .workSkills {
        transform: rotate(-90deg);
        position: absolute;
        bottom: 75px;
        right:-94px;

    }
}

// left aligned names

.roberto,
.eden,
.thinkCinema,
.wordScramble,
.aerhyn {
    img {
        width: 654px;
        height: auto;
        border: solid $lightGrey 40px;
    }
    .workName {
        bottom: -17px;
        left: 5px;
    }
    .workSkills {
        transform: rotate(-90deg);
        position: absolute;
        bottom: 74px;
        left:-88px;

    }
    
}


// work overlay 

.workOverlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    p {
        margin: 0;
    }
    a {
        font-family: $bodyFont;
        color: black;
        border: 2px solid black;
        background: white;
        padding: 10px 30px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 10px;
        &:hover {
            background: black;
            color: white;
        }
        &:active {
            background: black;
            color: white;
        }

    }
}

a.closeWorkOverlay {
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.4rem;
    background: none;
}

.showWorkOverlay {
    display: flex;
}



// MEDIA QUERIES

@media (max-width: 950px) {
    .workBlock img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .workName {
        font-size: 1.3rem;
    }
}